
.TopDash {
  height: 20vh;
  width: 100vw;
  background-color: rgba(102, 101, 99, 1);
}

.LeftBar {
  width: 20vw;
  background-color: rgba(227, 226, 225, 1);
  float: left;
  height: 73vh;
}

.CanvasWrapper {
  margin-left: 20vw;
  width: 80vw;
  background-color: rgba(209, 207, 203, 1);
  height: 73vh;
}

.InNavBar {
  background-color: rgba(124, 196, 142, 1);
  height: 7vh;
}

.ProjectName {
  color: rgba(0, 0, 0, 0.3);
  bottom: 5px;
  right: 5px;
  position: absolute;
  font-size: 25px;
}

.MyPartsDeck {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.PartCard {
  display: flex;
  min-height: 20vh;
  max-height: 20vh;
  min-width: 20vh;
  max-width: 20vh;
  padding: 5px;
}

.PartCard:hover {
  cursor: pointer;
}

.PartWindow {
  border-radius: 15%;
  background-color: white;
  padding: 5%;
  min-width: 100%;
  min-height: 100%;

}
#main-canvas {
  background-image: url("/Images/Grid.png");
  background-repeat: repeat;
}
